<div class="modal {{if animation 'fade'}}" tabindex="-1" role="dialog">
  <div class="modal-dialog {{sizeClass}}">
    <div class="modal-content">
      {{component innerComponent hide="hide"}}
    </div>
  </div>
</div>
